.navbar-brand > #logo {
    width: 30%;
    margin-left: 15px;
}

span.nav-link, a.nav-link{
    cursor: pointer;
    color:white;
}

#menu{
    background-color: #5e5e5e;
}

.container > h2{
    margin-bottom: 20px;
}

#nav-intro-tab, #nav-historico-tab, #nav-definicao-tab, #nav-geourbano-tab, #nav-geobrasil-tab, #nav-geoconser-tab, #nav-geopatri-tab, #nav-geodiver-tab, #nav-geoturismo-tab{
    color:black;
}

.tab-pane{
    text-align:justify;
    text-indent: 4em;
    margin-top:15px;
    margin-bottom:15px;
    background-color: #f5f5f5;
}
.table{
    border:2px solid black;
}
table, thead, tbody, th, tr, td{
    border:2px solid black
}
.table-bordered td{
    border:2px solid black
}
.table-bordered th{
    border:2px solid black
}
.table-bordered thead tr th{
    border:2px solid black
}
.meu-menu li{
    padding-left: 10px;
}
#estados-unidos{
    width: 40px;
    margin-top: -15px;
}

@media screen and (max-width: 767px) {
    #estados-unidos{
        width: 40px;
        margin-top: 5px;
    }
}