#nav-solo-tab, #nav-agua-tab, #nav-relevo-tab, #nav-rochas-tab, #nav-geologia-tab, #nav-geomorfologico-tab, #nav-hidrologico-tab{
    color: black;
}

a.local{
    color: #007bff;
}

nav.menu-floop{
    margin-left:-50px;
}